<!DOCTYPE html>
<html>
<head>
  <title>SaltaWeb</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<% if current_user %>
    You are logged in as <%= current_user.email %> (<%= link_to 'Log Out', logout_path %>)
<% end %>
<% if flash[:alert] %>
    <h3><%= flash[:alert] %></h3>
<% end %>
<% if flash[:notice] %>
    <h3><%= flash[:notice] %></h3>
<% end %>

<%= yield %>

</body>
</html>
