<%= form_for @user do |f| %>
    <%= f.error_messages %>
    <div>
      <span><%= f.label :username %></span>
      <span><%= f.text_field :username %></span>
    </div>
    <div>
      <span><%= f.label :password %></span>
      <span><%= f.password_field :password %></span>
    </div>
    <div>
      <span><%= f.label :password_confirmation %></span>
      <span><%= f.password_field :password_confirmation %></span>
    </div>
    <div>
      <span><%= f.submit 'Register' %></span>
    </div>
<% end %>
<%= link_to 'Log In', new_user_session_path %>