<% form_for [@user, @profile] do |f| %>
    <%= f.error_messages %>
    <div>
      <span><%= f.label :first_name %></span>
      <span><%= f.text_field :first_name %></span>
    </div>
    <div>
      <span><%= f.label :last_name %></span>
      <span><%= f.text_field :last_name %></span>
    </div>
    <div>
      <span><%= f.label :email %></span>
      <span><%= f.text_field :email %></span>
    </div>
    <div>
      <span><%= f.label :phone %></span>
      <span><%= f.text_field :phone %></span>
    </div>
    <div>
      <span><%= f.label :website %></span>
      <span><%= f.text_field :website %></span>
    </div>
    <div>
      <span><%= f.label :facebook %></span>
      <span><%= f.text_field :facebook %></span>
    </div>
    <div>
      <span><%= f.label :google %></span>
      <span><%= f.text_field :google %></span>
    </div>
    <div>
      <span><%= f.label :twitter %></span>
      <span><%= f.text_field :twitter %></span>
    </div>
    <div>
      <span><%= f.label :yahoo %></span>
      <span><%= f.text_field :yahoo %></span>
    </div>
    <div>
      <span><%= f.submit %></span>
    </div>
<% end %>