<%= form_for :user_session, @user_session, :url => user_sessions_path do |f| %>
    <%= f.error_messages %>
    <div>
      <span><%= f.label :username %></span>
      <span><%= f.text_field :username %></span>
    </div>
    <div>
      <span><%= f.label :password %></span>
      <span><%= f.password_field :password %></span>
    </div>
    <div>
      <span><%= f.submit 'Login' %></span>
    </div>
<% end %>
<%= link_to 'Register', new_user_path %>
