<tr>
  <td><%= check_box_tag 'contact_ids[]', contact.id  if permitted %></td>
  <td><%= contact.first_name %></td>
  <td><%= contact.last_name %></td>
  <td><%= contact.phone %></td>
  <td><%= contact.email %></td>
</tr>
