<tr>
  <td><%= check_box_tag 'member_ids[]', member.id  if permitted %></td>
  <td><%= member.first_name %></td>
  <td><%= member.last_name %></td>
  <td><%= member.phone %></td>
  <td><%= member.email %></td>
</tr>
